.shopAD {
  padding: 25px 0;
}

.shopAD__photoContainer {
  width: 100%;
  margin: 12px 0 0 0;
  text-align: center;
}

.shopAD__image {
  width: 100%;
  max-width: 1000px
}

.shopAD__linkContainer {
  text-align: center;
  margin: 26px 0 0 0;
}

.shopAD__desc {
  color: $orange;
  font-size: 0.75rem;
  margin: 0 0 9px 0;
}

.shopBtn:hover {
  background: #ff6000;
  outline: none;
  border-color: #ff6000;
  box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.35);
  transition: 0.2s;
}

